<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2>Búsqueda de gasolineras</h2>
            <form>
                <fieldset>
                    <legend>Seleccione un estado y municipio para ver las gasolineras que hay en él:</legend>
                    <div class="form-group">
                        <label for="states">Estados:</label>
                        <select [(ngModel)]="selectedState.id" (change)="onStateSelect($event.target.value)"
                            name="states" class="form-control">
                            <option value="0">-- Seleccione un estado</option>
                            <option *ngFor="let state of states" value={{state.id}}>{{state.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="municipalities">Municipios:</label>
                        <select [(ngModel)]="selectedMunicipality.zip" (change)="onMunicipalitySelect($event)"
                            name="municipalities" class="form-control">
                            <option value="0">-- Seleccione un municipio</option>
                            <option *ngFor="let municipaly of municipalities " value={{municipaly.zip}}
                                [attr.data-id]="municipaly.id">
                                {{municipaly.name}}</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div *ngIf="selectedMunicipality.id != '0'" class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                            [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
                            <agm-info-window>
                                <strong>{{m.label}}</strong>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</div>